 @import "bulma";

 .top-section {
   background-color: gray;
 }

.box {
  margin-top: 50px;
  padding-top: 0px;
}

.media {
  display: block;
}

.media-content {
  display: block;
}

.media-right {
  display: block;
}
