 @import "bulma";

body {
  font-size: 62.5%;
}

 .top-section {
   background-color: black;
   height: 65px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   color: white;
   text-align: center;
   font-size: 5em;
   font-family: 'Roboto Slab', serif;
   font-weight: 100;
}

.container1 {
  width: 100%;
  height: 100px;
  background: #222;
}

.zigzag {
  position: relative;
  width: 100%;
}

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.container2 {
  background: #E2E2E2;
}

.container2:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

strong{
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

img {
  border-radius: 50%;
  padding: 10px;
}

.box {
  margin-top: 50px;
  padding-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.content {
  font-size: 1.5em;
}


.media {
  display: block;
}

.media-content {
  display: block;
  padding-left: 10px;
}

.media-right {
  display: block;
}

span {
  color: #8BB7B7;
}




@media screen and (min-width: 650px) {
  .media {
    display: flex;
  }

  #box1 {
    width: 200px;
    border-right: 2px solid darkgray;
  }
}
